* text=auto !eol
/Makefile -text
doc/datamodel.txt -text
python/bbspec/spec2d/__init__.py -text
python/bbspec/spec2d/airtovac.py -text
python/bbspec/spec2d/boltonfuncs.py -text
ups/Makefile -text
ups/bbspec.table -text
