* text=auto !eol
/Makefile -text
/RELEASE_NOTES -text
bin/merge_psf_bundles.py -text
doc/datamodel.txt -text
doc/hack.txt -text
examples/00126630/spArc-b1-00126630.fit.gz -text
examples/00126630/spArc-b2-00126630.fit.gz -text
examples/00126630/spArc-r1-00126630.fit.gz -text
examples/00126630/spArc-r2-00126630.fit.gz -text
examples/00126630/spFlat-b1-00126631.fit.gz -text
examples/00126630/spFlat-b2-00126631.fit.gz -text
examples/00126630/spFlat-r1-00126631.fit.gz -text
examples/00126630/spFlat-r2-00126631.fit.gz -text
examples/DemoPGHfulltest.py -text
examples/PGHfulltest.py -text
examples/PSF_GaussHermite.fits -text svneol=unset#unset
examples/make-my-psf.py -text
examples/make_gauss2d_psf.py -text
examples/make_test_spectra.py -text
examples/pix2spec.py -text
examples/plot_test_results.py -text
examples/sdProc-r1-00122444.fits -text
examples/spArc-r1-00122444.fits.gz -text
examples/spBasisPSFold-r1-00122444.fits -text svneol=unset#unset
examples/spFlat-r1-00122445.fits.gz -text
examples/spec2pix.py -text
examples/test.txt -text
examples/test_data_model.sh -text
examples/testarcmodel.py -text
python/bbspec/__init__.py -text
python/bbspec/spec2d/__init__.py -text
python/bbspec/spec2d/airtovac.py -text
python/bbspec/spec2d/arcmodel2D.py -text
python/bbspec/spec2d/boltonfuncs.py -text
python/bbspec/spec2d/extract.py -text
python/bbspec/spec2d/func_arcmodel2D.py -text
python/bbspec/spec2d/psf.py -text
ups/bbspec.table -text
