* text=auto !eol
/Makefile -text
/RELEASE_NOTES -text
doc/datamodel.txt -text
doc/hack.txt -text
examples/PSF_GaussHermite.fits -text svneol=unset#unset
examples/make_gauss2d_psf.py -text
examples/make_test_spectra.py -text
examples/pix2spec.py -text
examples/plot_test_results.py -text
examples/spBasisPSF-r1-00122444.fits -text svneol=unset#unset
examples/spec2pix.py -text
examples/test_data_model.sh -text
python/bbspec/__init__.py -text
python/bbspec/spec2d/__init__.py -text
python/bbspec/spec2d/airtovac.py -text
python/bbspec/spec2d/boltonfuncs.py -text
python/bbspec/spec2d/psf.py -text
ups/bbspec.table -text
